vosk-model-en-us-0.22-lgraph
vosk-model-ar-mgb2-0.4
__pycache__
audio.m4a
audio.wav
sound_recognition.py
sound.py
temp.wav
vosk-model-ar-mgb2-0.4.zip
vosk-model-en-us-0.22-lgraph.zip
vosk-model-small-en-us-0.15.zip